:root{
    --white: rgb(223, 223, 223);
    --blue: rgb(112, 172, 235);
    --black: rgb(30, 28, 28);
    --font-family: Georgia, 'Times New Roman', Times, serif;
    --font-size: 16px;
}

body{
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.image, .text{
    padding: 50px;
    margin: 40px;
}

.image{
    background-color: var(--blue);
}

.image{
    background-color: var(--blue);
}